# Betriebssystem
.DS_Store
Thumbs.db

# directories
/archiv/
/assets/


# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node Modules
node_modules/

# Environment Variables
.env
assets/logo_infoblock.png
