# Betriebssystem
.DS_Store
Thumbs.db

# directories
/archiv/
/assets/*.png
/assets/*.jpg
/assets/*.jpeg
/assets/*.svg


# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node Modules
node_modules/

# Environment Variables
.env